decleration block
p{
  color:blue;
}
value
p{
  color;blue
}
decleration block
ul{
  color: blue;
}
value
ul{
  color: blue;
}
decleration block
ol{
  color:blue;
}
value
ol{
  color:blue;
}
decleration block
h1{
  color:blue
}
value
hi{
  color:blue;
}
decleration block
header{
  color:blue;
}
value
header{
  color:blue;
}
decleration block
body{
  color:blue;
}
value
body{
  color: blue;
}
decleration block
footer{
  color:blue
}
value
footer{
  color: blue;
}

